<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdWiOX6z90tiUKLNp2BqniZCBb-93lFgc</string>
	<key>GCM_SENDER_ID</key>
	<string>865502333812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yamankwefati.cookIt</string>
	<key>PROJECT_ID</key>
	<string>cookit-5fa74</string>
	<key>STORAGE_BUCKET</key>
	<string>cookit-5fa74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865502333812:ios:59845de91e63b0ecb1ba21</string>
</dict>
</plist>